{
  "extends": ["airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "createDefaultProgram": true
  },
  "settings": {
    "import/resolver": {"node": {"extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]}}
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "max-len": ["error", 120],
    "object-curly-newline": ["error", {"consistent": true}],
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
